*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.one{
    height: 15vh;
    width: 98.7vw;
    background-color: black;
    color: white;
}
.one i{
    margin:10px;
    margin-top: 2%;
}
#p1{
  position:absolute;
  left: 80%;
  top: 5%;
}
.carousel-item img{
     height: 98vh;
}
.two h1{
    position: absolute;
    top: 18%;
    left: 10%;
    font-size: 25px;
    color: aliceblue;
}
#o1{
    position: absolute;
    top: 18%;
    left: 70%;
}
#o1 a{
    text-decoration:none;
    margin: 10px;
    font-weight: 500;
    color: white;
}
#o1 a:hover{
    text-decoration: underline black;
    
}
.three{
    position:absolute ;
    top: 50%;
    left: 15%;
}
.three span{
    font-weight: 700;
    color:white;
}
.three h3{
    font-size: 40px;
    color: white;
}
.three p{
    color:darkgray;
}
.three a{
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 20px 20px;
}
.four{
    height: 15vh;
    width: 98.7vw;
    background-color: black;
    color: white;
}
.four a{
    position: absolute;
    top: 118%;
    left: 87%;
    text-decoration: none;
    border: 1px solid white;
    padding: 8px;
    color: aliceblue;
    border-radius: 20px 20px;
}
.four h4{
     position: absolute;
     left: 4%;
     top: 116%;
}
.four p{
    position: absolute;
    left: 4%;
    top: 122%;
}
.five{
    text-align: center;
    position: absolute;
    top: 140%;
    left: 32%;
}
.five p{
    color:white;
}
.card3{
     position: absolute;
     top: 170%;
     left: 70%;
}
.card2{
    position: absolute;
    top: 170%;
    left: 40%;
}
.card1{
    position: absolute;
    top: 170%;
    left: 10%;
}
.six{
    height: 70vh;
    width: 216vh;
    background-color:#3B3C36;
    position: absolute;
    top: 260%;
}
#i1{
    position: absolute;
    left: 6%;
    top: 10%;
    color: aliceblue;
}
#i1 nav{
    color: yellowgreen;
}
#i1 a{
    text-decoration: none;
    color: azure;
    background-color: yellowgreen;
    padding: 10px;
    border-radius: 20px 20px;
}
#i2{
    height: 17vh;
    width: 10vw;
    background-color:black;
    position: absolute;
    left: 60%;
    top: 10%;
    text-align: center;
}
#i2 h1{
    color: yellowgreen;
}
#i2 p{
    color: aliceblue;
}
#i3{
    height: 17vh;
    width: 10vw;
    background-color:black;
    position: absolute;
    left: 75%;
    top: 10%;
    text-align: center;
}
#i3 h1{
    color: yellowgreen;
}
#i3 p{
    color: aliceblue;
}
#i4{
    height: 17vh;
    width: 10vw;
    background-color:black;
    position: absolute;
    left: 60%;
    top: 290%;
    text-align: center;
}
#i4 h1{
    color: yellowgreen;
}
#i4 p{
    color: aliceblue;
}
#i5{
    height: 17vh;
    width: 10vw;
    background-color:black;
    position: absolute;
    left: 75%;
    top: 290%;
    text-align: center;
}
#i5 h1{
    color: yellowgreen;
}
#i5 p{
    color: aliceblue;
}
.sevan{
    height: 60vh;
    width: 80%;
    background-color:#BCD4E6;
    position: absolute;
    top: 350%;
    left: 10%;
}
.sevan img{
    height: 60vh;
    width: 40%;
}
#n1{
    position: absolute;
    top:15%;
    left: 43%;
}
#n1 nav{
    color:darkslategray;
}
#n1 a{
    text-decoration: none;
    color: azure;
    background-color:darkslategray;
    padding: 10px;
    border-radius: 20px 20px;
}
.eight{
    height: 80vh;
    width: 100%;
    background-color: #848482;
    position: absolute;
    top: 430%;
}
#n2{
    text-align: center;
    position: absolute;
    top: 10%;
    left: 37%;
}
#n2 span{
    color:#696969;
}
#n3{
    height: 40vh;
    width: 40%;
    background-color:white;
    position: absolute;
    top: 30%;
    left: 8%;
    text-align: center;
}
#n3 nav{
    color: yellowgreen;
    font-weight: 600;
}
#n4{
    height: 40vh;
    width: 40%;
    background-color:white;
    position: absolute;
    top: 30%;
    left: 53%;
    text-align: center;
}
#n4 nav{
    color: yellowgreen;
    font-weight: 600;
}
#n5{
    height: 10vh;
    width: 5vw;
    background-color: #3B3C36;
    position: absolute;
    top: 85%;
    left: 25%;
    border-radius: 50%;
    text-align: center;
    color: #696969;
}
#n6{
    height: 10vh;
    width: 5vw;
    background-color: #3B3C36;
    position: absolute;
    top: 85%;
    left: 70%;
    border-radius: 50%;
    text-align: center;
    color: #696969;
}
#m1{
    height: 79vh;
    width: 90vw;
    background-color: yellowgreen;
    position: absolute;
    top: 560%;
    left: 5%;
    border-radius: 20px 20px;
}
#n7{
    position: absolute;
    top: 530%;
    left: 40%;
    text-align: center;
    font: 1em sans-serif;
}
#m2 input{
    margin-top: 2%;
    margin: 60px;
}
#m2 input[type="name"]{
    width: 20%;
    padding: 8px;
    border-radius: 20px ;
    border: 1px solid white;
}
#m2 input[type="E-Mail"]{
    width: 20%;
    padding: 8px;
    border-radius: 20px ;
    border: 1px solid white;
}
#m2 input[type="subject"]{
    width: 20%;
    padding: 8px;
    border-radius: 20px ;
    border: 1px solid white;
}
#m2 input[type="message"]{
    width: 90%;
    height: 20vh;
    padding: 5px;
    border-radius: 20px ;
    border: 1px solid white; 
}
#m2 a{
    text-decoration: none;
    position: absolute;
    left: 45%;
    border: 2px solid white;
    border-radius: 20px 20px;
    padding: 10px;
    color: azure;
}
.nambar8{
    height: 80vh;
    width: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    border-radius: 15px;
    margin-top: 265%;
}
#h1{
    position: absolute;
    left: 5%;
    top: 725%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     

}
#h2 i{
    position:relative;
    left: 5%;
    margin-top: 20%;
    color: rgb(0,0,0,0.3);
}
#h2 i:hover{
    transform: scale(1.1);
    transition: 1s;
    text-shadow: 0 0 40px black;
}
#h2 a{
    margin: 10px;
    text-decoration: none;
    font-size: 20px;
}
#h3{
    position: absolute;
    left: 31%;
    top: 725%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#h4{
    position: absolute;
    left: 48%;
    top: 725%;    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#h5{
    position: absolute;
    left: 75%;
    top: 725%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#h5 input[type=text]{
    height: 5vh;
    width: 130%;
    border-radius: 20px 20px;
    border: 2px solid rgb(0,0,0,0.1);
    background-color: rgb(0,0,0,0.4);
}
#h5 input[type=emali]{
    height: 5vh;
    width: 130%;
    border-radius: 20px 20px;
    border: 2px solid rgb(0,0,0,0.1);
    background-color: rgb(0,0,0,0.4);   
}
#h5 input[type=message]{
    height: 20vh;
    width: 130%;
    border-radius: 20px 20px;
    border: 2px solid rgb(0,0,0,0.1);
    background-color: rgb(0,0,0,0.4);  
}
#h5 button{
    padding: 8px;
    border-radius: 20px 20px;
    border:1px solid #696969;
    background-color: #2f4f4f;
    color: aliceblue;
}
